[submodule "external/OpenSTA"]
	path = external/OpenSTA
	url = git@github.com:The-OpenROAD-Project/OpenSTA
	branch = master
[submodule "external/OpenDB"]
	path = external/OpenDB
	url = https://github.com/The-OpenROAD-Project/OpenDB.git
	branch = feature/add-sylib
