[submodule "external/OpenSTA"]
	path = external/OpenSTA
	url = https://github.com/The-OpenROAD-Project/OpenSTA.git
	branch = master
[submodule "external/OpenDB"]
	path = external/OpenDB
	url = https://github.com/The-OpenROAD-Project/OpenDB.git
	branch = master
